* {
    box-sizing: inherit;
}

.first-main-cont {
    margin-top: 12px;

}

.headerContainer {
    width: 100%;
    height: 300px;

    margin-top: 30px;
    font-family: sans-serif;
}

.headerContainer2 {
    width: 100%;
    height: 900px;
    margin-left: 0px;

}

.header {
    text-align: center;
}

.game {
    color: white;
    background-color: black;
    padding: 5px;
}

.styletext {
    font-size: 48px !important;
    font-family: sans-serif;
}

.profile {
    width: 100%;
    height: 900px;
}

.secondInisde {
    padding: 12px 24px !important;
}



.container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.w3-text-white {
    color: #fff !important;
    font-family: sans-serif;
    font-size: 36px;
    letter-spacing: normal;
}

.mainContainer {
    /* border: 6px solid red; */
    /* max-width: 100%; */
    position: absolute;
    left: 0px;
    top: 500px;
    z-index: 1;
}

.four {

    font-size: 60px;
}

.btn {
    padding: 12px;
    font-size: 25px;
}

.btn:hover {
    background-color: lightgray;
}